<phpunit bootstrap="bootstrap.php" colors="false">
    <testsuites>
        <testsuite name="Shift1_Test_Suite">
            <directory>./</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>disable</group>
        </exclude>
    </groups>
</phpunit>